@import "../../../colors.scss";
.select {
  resize: none;
  padding: 0.5rem;
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid black;

  &:focus {
    border: 1px solid $primary;
    outline: 1px solid $primary;
  }
}
