@import "../../../colors.scss";
.input {
  resize: none;
  padding: 0.5rem;
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #c5c5c5;

  &:focus {
    border: 1px solid $primary;
    outline: 1px solid $primary;
  }
}
