.profile {
  max-width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 1060px) {
    max-width: 85%;
  }
  @media screen and (max-width: 980px) {
    max-width: 90%;
  }
  @media screen and (max-width: 930px) {
    max-width: 95%;
  }
  @media screen and (max-width: 850px) {
    max-width: 97%;
  }
  // @media screen and (min-width: 1060px) {
  //   max-width: 80%;
  // }
}
