.popup {
  height: 100vh;
  position: fixed;
  z-index: 99;
  width: 100vw;
  top: 0%;
  left: 0%;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);

  .popupContent {
    padding: 10px;
    background: #0000009d;
    height: 100%;
    width: 100%;
  }
}

.modal {
  overflow-y: scroll !important;
}
