@import "../../colors.scss";

.textField {
  width: 100%;
  box-sizing: border-box;
  height: 15rem;
  margin-bottom: 2rem;
}

.timeline {
  display: flex;
  justify-content: space-between;

  .card {
    margin-bottom: 5rem;
  }

  .icon {
    height: 20px;
    width: 20px;
    color: $font-grey;
    cursor: pointer;
    margin: 10px 0;
    transition: color 0.2s linear;
    &:hover {
      color: $primary;
    }
  }

  h2 {
    margin: 3px 0px !important;
  }
  .about {
    margin: 10px 5px;

    &TextField {
      width: 100%;
      box-sizing: border-box;
      height: 150px;
    }

    .buttons {
      margin-top: 1rem;
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > * {
        border-radius: 0px;
        height: 35px;
        width: 80px;
        margin-right: 2rem;
      }
      &__discard {
        background: #809692;
        margin-right: 0;
      }
    }
    p {
      color: $font-grey;
    }
  }

  .aboutHead,
  .employmentHead,
  .educationHead {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .editSpan {
      width: 30px;
      height: 40px;
    }
  }
  .employment,
  .education {
    display: flex;
    flex-direction: column;

    p {
      color: $font-grey;
    }

    h4 {
      margin-bottom: 4px;
    }

    &Top {
      display: grid;
      grid-template-columns: 40% 20% 40%;
      margin-top: 10px;

      * {
        display: flex;
        align-items: center;
      }
      h4 {
        margin: 0;
      }
      .icons {
        justify-content: center;
        display: flex;
        justify-content: space-evenly;
      }
      p {
        justify-content: flex-end;
      }
    }
  }

  .info {
    margin-left: 0px;

    h4 {
      margin-bottom: 2px;
    }

    p {
      color: $font-grey;
    }
  }

  h2 {
    margin-bottom: 2.4rem;
  }

  .profiles {
    padding: 1.3rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .newpost {
    margin-bottom: 5rem;

    .top {
      display: flex;
      justify-content: space-around;
    }

    .textField {
      width: 75%;
      height: 15rem;
      margin-bottom: 2rem;
    }

    .buttons {
      margin-top: 1rem;
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > * {
        border-radius: 0px;
        height: 35px;
        width: 80px;
        margin-right: 2rem;
      }

      &__discard {
        background: #809692;
        margin-right: 0;
      }
    }
  }
}
